<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Amazon.com.br: Amazon Services</title>
        <!--Imagem da aba do navegador-->
        <link rel="shortcut icon" type="image/x-icon" href="images/amazon.ico" />
        <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    </head>
    <body>
        <div class="menuTopo">
            <nav>
                <button id="navicon"><img src="images/navicon.png"/></button>
                <img id="logo" src="images/logo.png"/>
                <ul class="menu-link">
                    <li><form class="busca" action="/busca" method="post">
                        <input id="busca" name="busca" type="text">
                        <input type="submit" value="Buscar">
                        </form>
                    </li>
                    <li><a href="#"></a>Venda na Amazon</a>
                        <ul class="dropdown">
                            <li><a href="#">Categorias disponíveis</a></li>
                            <li><a href="#">Benefícios</a></li>
                            <li><a href="#">Como funciona</a></li>
                            <li><a href="#">Preços</a></li>
                            <li><a href="#">Perguntas frequentes</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/cadastro">Criar conta</a></li>
                    <li><a href="/publi">Publicar</a></li>
                    <li><a href="#"><img id="globe" src="images/globe.png"/></a></li>
                </ul>
            </nav>
        </div>
        
        <div class="bannerMeio">
            <h1>Comece a vender na Amazon hoje mesmo</h1>
            <img src="images/banner.jpg" class="ca"/>
            <!--AQUII-->
            <!--<img src="images/{{titulo}}" class="ca"/><img src="images/banner.jpg" class="ca"/>-->
            <!--<h1>{{descricao}}</h1><h1>Comece a vender na Amazon hoje mesmo</h1>-->
            <p class="banner-title-1">Com o Plano de Vendas Profissional</p>
            <div class="blue-button"><a href="#">3 Meses Grátis</a></div>
            <div class="orange-button"><a href="#">Venda com o Plano Profissional<img src="images/arrow.png"/></a></div>
            <p class="banner-title-2">Mensalidade de R$19,00 + Comissão</p>
        </div>
        
        <nav>
        <div class="menuBase">
            <ul>
                <li><a href="#">Benefícios</a></li>
                <li><a href="#">Como funciona</a></li>
                <li><a href="#">Preços</a></li>
                <li><a href="#">Perguntas frequentes</a></li>
                <li><a href="#">Categorias disponíveis</a></li>
            </ul>
        </div>
        </nav>
            <div class="textBase">
                <h2>Por que vender na Amazon?</h2>
                <p>A Amazon é uma parceira para o seu crescimento, e a marca da Amazon trará
                    visibilidade para o seu negócio. Somos um canal de vendas além dos canais
                    que você já tem e uma porta de entrada para novos clientes através da nossa
                    vitrine.</p>
            </div>

    </body>
</html>